{% extends 'base.html' %}

{% block title %} Register User {% endblock title %}

{% block body %}
    <section>
        <container>
            <div class="container mt-5 pt-5">
                <div class="row">
                    <div class="col-12 col-md-6 m-auto">
                        <h1 class="mb-5 text-center"><strong>Welcome to Quiz Master</strong></h1>
                        <div class="card border-1 shadow">
                            <div class="card-body">
                                <form action="/register" method="get">
                                    <h2 class="mb-4 text-center">Register</h2>
                                    <div class="form-floating mb-3">
                                        <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" required>
                                        <label for="email">Email address (Username)</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password" required>
                                        <label for="pwd">Set your password</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="fname" name="fname" placeholder="Full Name" required>
                                        <label for="fname">Full Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="qualification" name="qualification" placeholder="Qualification">
                                        <label for="qualification">Qualification</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="date" class="form-control" id="dob" name="dob" placeholder="Date of Birth" required>
                                        <label for="dob">Date of Birth</label>
                                    </div>
                                    <div class="d-grid gap-2 text-center">
                                        <button type="submit" class="btn btn-lg btn-primary btn-block mt-3" formmethod="post">Register</button>
                                        <p class="mt-4">Existing User?<strong></p>
                                        <p><strong><a href="/login">Login here</a></strong></p>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                </div>                
            </div>
        </container>
    </section>

{% endblock body %}