{% extends 'base.html' %}

{% block title%} Scores {% endblock title %}

{% block body %}

    {% include 'user_navbar.html' %}

    <section class="pb-4">
        <div class="container mt-2 pt-2">
            <div class="container text-center">
                <!-- first row of card starts here -->
                <div class="row mt-3">
                    <div class="col-12 col-md-10 m-auto">
                        <div class="card border-1 shadow">
                            <div class="card-body">
                                <table class="table">
                                    <h3 class="mb-4">Quiz Scores</h3>
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Quiz Id.</th>
                                        <th scope="col">Quiz Name</th>
                                        <th scope="col">No. of Questions</th>
                                        <th scope="col">Quiz Date</th>
                                        <th scope="col">Quiz Attempt Timestamp</th>
                                        <th scope="col">Score</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for score in user_score %}
                                        <tr>
                                            <th scope="row">{{loop.index}}</th>
                                            <td>{{score.quiz_id}}</td>
                                            <td>{{score.quiz_score.chapter.chapter_name}}</td>
                                            <td>{{score.quiz_score.questions | length}}</td>
                                            <td>{{score.quiz_score.quiz_date}}</td>
                                            <td>{{score.time_stamp}}</td>
                                            <td>{{score.total_score}} / {{score.quiz_score.questions | length}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- first row of card ends here  -->  
            </div>
        </div>
    </section>
    



{% endblock body %}