<section class="pb-4">
    <div class="container mt-2 pt-2">
        <div class="container text-center">
            <!-- first row of card starts here -->
            <div class="row mt-3">
                <div class="col-12 col-md-10 m-auto">
                    <div class="card border-1 shadow">
                        <div class="card-body">
                            <h2 class="text-center">Profile</h2>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Email</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Qualification</th>
                                    <th scope="col">Date of Birth</th>
                                    <th scope="col">User Type</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{user.email}}</td>
                                        <td>{{user.full_name}}</td>
                                        <td>{{user.qualification}}</td>
                                        <td>{{user.dob}}</td>
                                        <td>{{user.type}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- first row of card ends here  -->  
            <div class="row mt-3">
                <div class="col-12 col-md-10 m-auto">
                    <div class="card border-1 shadow">
                        <div class="card-body">
                            <h2 class="text-center">Profile</h2>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Email</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Qualification</th>
                                    <th scope="col">Date of Birth</th>
                                    <th scope="col">User Type</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{user.email}}</td>
                                        <td>{{user.full_name}}</td>
                                        <td>{{user.qualification}}</td>
                                        <td>{{user.dob}}</td>
                                        <td>{{user.type}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
