{% extends 'base.html' %}

{% block title %} View Quiz {% endblock title %}

{% block body %}

<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-12 col-md-6 m-auto">
            <h1 class="mb-5 text-center"><strong>Welcome to Quiz Master</strong></h1>
            <div class="card border-1 shadow">
                <div class="card-body">
                    <form action="/user_dashboard" method="GET">
                        <h2 class="mb-4 text-center">Quiz Details</h2>
                        <div class="mb-3">
                            <label for="quiz_id" class="form-label">Quiz ID:</label>
                            <input type="text" class="form-control" id="quiz_id" value="{{quiz_id}}" disabled readonly>
                        </div>
                        <div class="mb-3">
                            <label for="subject" class="form-label">Subject:</label>
                            <input type="text" name="subject" class="form-control" id="subject" value="{{chapter.subject.subject_name}}" disabled readonly>
                        </div>
                        <div class="mb-3">
                            <label for="chapter_name" class="form-label">Chapter Name (Quiz):</label>
                            <input type="text" class="form-control" name="chapter_name" id="chapter_name" value="{{chapter.chapter_name}}" disabled readonly>
                        </div>
                        <div class="mb-3">
                            <label for="nuber_of_questions" class="form-label">No. of Questions:</label>
                            <input type="text" name="number_of_questions" class="form-control" id="number_of_questions" value="{{quiz.questions | length}}" disabled readonly>
                        </div>
                        <div class="mb-3">
                            <label for="quiz_date" class="form-label">Scheduled Quiz Date (yy-mm-dd):</label>
                            <input type="email" class="form-control" name="quiz_date" id="quiz_date" value="{{quiz.quiz_date}}" disabled readonly>
                        </div>
                        <div class="mb-3">
                            <label for="quiz_time_duration" class="form-label">Duration:</label>
                            <input type="number" class="form-control" name="quiz_time_duration" id="quiz_time_duration" value="{{quiz.quiz_time_duration}}" disabled readonly>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-lg btn-danger mt-3 rounded-5" onclick="window.location.href='/user_dashboard/{{user_id}}'" >Close</button>
                        </div>
                    </form>
                </div>
            </div>                        
        </div>
    </div>                
</div>

{% endblock body %}